.blog-card
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 16px;
    .hbc-link-wrap
        position: relative;
        margin: 0;
        padding: 0;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
        max-width: 500px;
        border: 1px solid #888888;
        background-color: #ffffff;
        .hbc-link
            text-decoration: none !important;
            .hbc-card
                margin-top: 7px;
                margin-right: 7px;
                margin-bottom: 4px;
                margin-left: 7px;
                box-sizing: inherit;
                .hbc-info
                    padding: 0;
                    color: #222222;
                    font-size: 12px;
                    white-space: nowrap;
                    overflow: hidden;
                    display: block !important;
                    .hbc-favicon
                        height: 16px;
                        width: 16px;
                        margin: 0 4px !important;
                        border: none;
                        vertical-align: bottom;
                        display: inline !important;
                    .hbc-site-name
                        margin: 0 0 0 6px;
                        color: #222222;
                        font-size: 12px;
                        line-height: 12px;
                        text-decoration: none;
                        display: inline !important;
                .hbc-contents
                    height: 108px;
                    margin: 6px 0 0 0;
                    word-break: break-all;
                    white-space: normal;
                    overflow: hidden;
                    .hbc-thumbnail
                        max-width: 100px;
                        max-height: 108px;
                        padding: 0;
                        margin: 0 6px 4px 4px;
                        float: left;
                    .hbc-title
                        color: #111111;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: bold;
                        overflow: hidden;
                        word-break: break-all;
                    .hbc-url
                        color: #4466ff;
                        font-size: 10px;
                        line-height: 10px;
                        font-weight: normal;
                        text-decoration: underline;
                        overflow: hidden;
                        display: block;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        font-style: italic;
                    .hbc-description
                        margin: 0;
                        color: #333333;
                        font-size: 11px;
                        line-height: 17px;
                        padding: 0;
                        overflow: hidden;
